# Notebook Imports

In [1]:
import pandas as pd
from sklearn.naive_bayes import GaussianNB

## Load data

In [2]:
exam_data = pd.read_csv('bayes_data.csv', sep=';')
print(exam_data.head(10))

   Student No. Invested effort  Passed last exam  Passed
0            1             low                 0       0
1            2          medium                 1       1
2            3            high                 1       1
3            4             low                 0       0
4            5            high                 1       1
5            6            high                 1       1
6            7          medium                 1       1
7            8          medium                 1       0
8            9            high                 1       1
9           10          medium                 0       1

In [3]:
X = exam_data.drop(columns=['Passed'])
y = exam_data['Passed']
X = pd.get_dummies(X)
X

,Student No.,Passed last exam,Invested effort_high,Invested effort_low,Invested effort_medium
0,1,0,0,1,0
1,2,1,0,0,1
2,3,1,1,0,0
3,4,0,0,1,0
4,5,1,1,0,0
5,6,1,1,0,0
6,7,1,0,0,1
7,8,1,0,0,1
8,9,1,1,0,0
9,10,0,0,0,1

## Model

In [5]:
model = GaussianNB()
model.fit(X, y)

GaussianNB()

In [7]:
test_data = pd.read_csv('bayes_test_data.csv', sep=';')
X_test = test_data.drop(columns=['Passed'])
y_test = test_data['Passed']
X_test = pd.get_dummies(X_test)
X_test

,Student No.,Passed last exam,Invested effort_high,Invested effort_low,Invested effort_medium
0,11,0,0,1,0
1,12,0,0,0,1
2,13,1,1,0,0

In [8]:
y_pred = model.predict(X_test)
print('Prediction results:')
print(y_pred)

Prediction results:
[0 1 1]