# Notebook Imports

In [10]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.linear_model import BayesianRidge

import numpy as np
import pandas as pd

## Generate Data

In [11]:
table = {
    'Var-1': [10, np.NaN, 2, 1, 5],
    'Var-2': [2, 1, 0.4, 0.2, np.NaN]
}

TDF = pd.DataFrame(data=table)
TDF

   Var-1  Var-2
0   10.0    2.0
1    NaN    1.0
2    2.0    0.4
3    1.0    0.2
4    5.0    NaN

## Bayesian Ridge

In [12]:
imputbr = IterativeImputer(BayesianRidge())
TDF = pd.DataFrame(imputbr.fit_transform(TDF))
TDF

           0         1
0  10.000000  2.000000
1   5.000531  1.000000
2   2.000000  0.400000
3   1.000000  0.200000
4   5.000000  0.999973

## Extra Trees Regressor

In [14]:
TDF =pd.DataFrame(data=table)
imputetr = IterativeImputer(ExtraTreesRegressor())
TDF = pd.DataFrame(imputetr.fit_transform(TDF))
TDF

      0    1
0  10.0  2.0
1   5.0  1.0
2   2.0  0.4
3   1.0  0.2
4   5.0  1.0