# Notebook Imports

In [24]:
import pandas as pd
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import LabelEncoder

## Generate Sample Data

In [25]:
table = {
   'Customer-ID': [1, 2, 3, 4, 5],
   'Gender':['M', pd.NA, 'M', 'F', 'F'],
   'Work-type': [1, 2, 2, 3, 3],
   'Client-satisfaction':[3, 0, 4, 3, 5],
   'Number-occupants': [2, 4, 2, 1, 2],
   'Consumption': [70, 140, 65, 40, 65]
}

TDF = pd.DataFrame(data=table)

TDF

,Customer-ID,Gender,Work-type,Client-satisfaction,Number-occupants,Consumption
0,1,M,1,3,2,70
1,2,<NA>,2,0,4,140
2,3,M,2,4,2,65
3,4,F,3,3,1,40
4,5,F,3,5,2,65

## Feature Cleaning

In [26]:
TDF.isnull().sum()

Customer-ID            0
Gender                 1
Work-type              0
Client-satisfaction    0
Number-occupants       0
Consumption            0
dtype: int64

In [27]:
TDF = TDF.fillna(TDF['Gender'].value_counts().index[0])
TDF.isnull().sum()

Customer-ID            0
Gender                 0
Work-type              0
Client-satisfaction    0
Number-occupants       0
Consumption            0
dtype: int64

## Feature Encoding

In [28]:
TDF.dtypes

Customer-ID             int64
Gender                 object
Work-type               int64
Client-satisfaction     int64
Number-occupants        int64
Consumption             int64
dtype: object

In [29]:
TDF['Work-type'] = TDF['Work-type'].astype(str)
TDF['Client-satisfaction'] = TDF['Client-satisfaction'].astype(str)

TDF.dtypes

Customer-ID             int64
Gender                 object
Work-type              object
Client-satisfaction    object
Number-occupants        int64
Consumption             int64
dtype: object

In [30]:
TDF_1hot = pd.get_dummies(TDF)
list(TDF_1hot.columns)

['Customer-ID',
 'Number-occupants',
 'Consumption',
 'Gender_F',
 'Gender_M',
 'Work-type_1',
 'Work-type_2',
 'Work-type_3',
 'Client-satisfaction_0',
 'Client-satisfaction_3',
 'Client-satisfaction_4',
 'Client-satisfaction_5']