# Notebook Imports

In [1]:
import pandas as pd
from sklearn.preprocessing import PolynomialFeatures

## Generate Sample Data

In [2]:
table = {
    'Gender': ['M','F','M','F','F','M','F','M'],
    'Science-Grant': ['Y', 'N', 'Y', 'N','Y','N','N','N']
}

TDF = pd.DataFrame(data=table)
TDF

  Gender Science-Grant
0      M             Y
1      F             N
2      M             Y
3      F             N
4      F             Y
5      M             N
6      F             N
7      M             N

In [4]:
TDF= pd.get_dummies(TDF)
TDF

   Gender_F  Gender_M  Science-Grant_N  Science-Grant_Y
0         0         1                0                1
1         1         0                1                0
2         0         1                0                1
3         1         0                1                0
4         1         0                0                1
5         0         1                1                0
6         1         0                1                0
7         0         1                1                0

In [5]:
# generate interaction features
pf = PolynomialFeatures(
    degree=2, 
    interaction_only=True, 
    include_bias=False).fit(TDF[['Gender_F','Science-Grant_N']])

int_feat = pf.transform(TDF[['Gender_F', 'Science-Grant_N']])
int_feat

array([[0., 0., 0.],
       [1., 1., 1.],
       [0., 0., 0.],
       [1., 1., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 1., 1.],
       [0., 1., 0.]])

In [6]:
TDF = pd.DataFrame(int_feat, columns=['Gender_F','Science-Grant_N', 'FxGrant'])
TDF['FxGrant'].mean(0)

0.375